/* define additional classes */


.photop-right { /* portrait 3x4 image to the right */
  float: right;
  width: 30%;
  height: auto;
  margin: 0 0 1rem 1rem;
  box-shadow: 8px 8px 10px 4px var(--shadow); /* right and bottom shadow, blur, spread and colour */
}
td {
    padding: 10px;
    vertical-align: text-top;
   }
