/* This is a copy of the original style sheet, with variables added  */

body {
    font-size: 12pt;
    font-family: "Comic Sans MS", "Bradley Hand", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--onpage);
    background-color: var(--background);
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 20px;
    }
body.toc {
    background-color: var(--panel);
    color: var(--toctext);
    width: 100%;
    height: 100%;
    margin-top: -50px;
    }
.grid-container {
    display: grid;
    grid-template-columns: 70px 80%;
    grid-gap: 0px;
    padding: 0px;
    }
.spiral {
    grid-row: 1 / 4;
    background-image: url(../images/spiral.png);
    background-repeat: repeat-y;
    z-index: 4;
    }
.heading {
    background-color: var(--page);
    padding-left: 50px;
    box-shadow: 8px 8px 10px 4px var(--shadow);
    }
.headerclass {
  background: var(--page);
  color: var(--heading);
  font: var(--title-font);
  margin-left: var(--indent);
  padding: 2rem 2rem 0rem 1rem;
  box-shadow: 5px 5px 5px var(--shadow);
}
.content {
    background-color: var(--page);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    z-index: 1;
    box-shadow: 5px 5px 5px var(--shadow);
    }
.run {
    clear:both;
    }
.footer {
    background-color: var(--page);
    padding-left: 50px;
    z-index: 3;
    box-shadow: 8px 8px 10px 4px var(--shadow);
    font-size: 75%;
    }
div.trans {
    background-color: #205000;
    position: fixed;
    left: -410px;
    top: 50px;
    z-index: 2;
    transition: left 1.5s;
    width: 470px;
    height: 600px;
    box-shadow: 5px 5px 5px var(--shadow);
    }
div.trans:hover {
    left: 70px;
    }
div.tab {
    position: relative;
    left: 470px;
    width: 40px;
    height: 100px;
    background-color: var(--panel);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--onpage);
    font: var(--main-font);
    box-shadow: 5px 5px 5px var(--shadow);
    }
div.cover {
    background-color: var(--background);
    position: fixed;
    z-index: 2;
    top: 50px;
    width: 4.8%;
    height: 610px;
    left: 0px;
    }
iframe {
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    /*background-color: saddlebrown;*/
    width: 90%;
    height: 90%;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
   }
h1.toc {
    font-size: 150%;
    color: var(--page);
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
   }
img {
    width: 45%;
    float: right;
    margin: 0px 20px 20px 20px;
    box-shadow: 8px 8px 10px 4px var(--shadow);
    }
img.left {
    float: left;
    margin: 0px 20px 20px 0px;
    }
img.small {
    width: 300px;
    float: right;
    margin: 0px 20px 20px 20px;
    box-shadow: 8px 8px 10px 4px var(--shadow);
    }
img.med {
    width: 400px;
    float: right;
    }
img.medl {
    width: 400px;
    float: left;
    margin: 0px 20px 20px 0px;
    }
video.v1 {
    float: left;
    margin: 0px 0px 20px 0px;
    box-shadow: 8px 8px 10px 4px var(--shadow);
    }
p.vert {
    color: var(--page);
    writing-mode: vertical-lr;
    padding-top: 15px;
    padding-left: 15px;
    }
td {
    vertical-align: top;
    }
td > a:link {
    color: yellow;
    font: var(--main-font);
    }
td > a:visited {
    color: lightgreen;
    font: var(--main-font);
    }
td > a:hover {
    color: var(--page);
    font: var(--main-font);
    }
td > a:active {
    color: blue;
    font: var(--main-font);
    }
